.settings_page_ga-universal th {font-weight:bold}
.settings_page_ga-universal td.exp {font-style:italic;color:#999}
.settings_page_ga-universal td.users {width:300px}
.settings_page_ga-universal td.users label {display:inline-block;width:49%}

.settings_page_ga-universal td.add-remove, .settings_page_ga-universal th.add-remove {width:75px}

.settings_page_ga-universal .textarea-d textarea {display:block;width:100%}
.settings_page_ga-universal .textarea-d p {display:block}

.settings_page_ga-universal .gau-advanced-only {display: none}
.settings_page_ga-universal.gau-advanced .gau-basic-only {display: none}